{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Personal Details {% endblock %}

{% block search %}

{% endblock %}
{% block nav %}
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'customercreated' %}"><span class="glyphicon glyphicon-align-justify"></span> Primary Details</a></li>
          <li><a href="{% url 'startsubscribe' %}"><span class="glyphicon glyphicon-align-justify"></span> Start Subscription </a></li>


      </ul>
    </div>
{% endblock %}
{% block body %}
<div class ='col-sm-5 col-sm-offset-3'>
    <h1>{{ title }}</h1><hr>

    <form method="POST" action="">{% csrf_token %}
      {{form|crispy}}
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
        <!---

        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "id_start_date" ).datepicker();
  } );
  </script>
        <p>Start date: <input type="text" id="datepicker"></p>

--->



</form>
</div>
{% endblock %}